	/* Global */

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body {
	background-color: #D0D2D3;
	color: #404041;
	height: 100%;
	padding: 5px;
	width: 100%;
}

	/* Header */
	
header {
	background-color: #404041;
	color: #DD1972;
	min-width: 650px;
	padding-bottom: 10px;
	text-align: center;
}

h1 {
	font-size: 58px;
	margin-bottom: -10px;
	padding-right: 5px;
}

.h1-style {
	font-weight: 300;
	text-decoration: none;
}

h2 {
	align-items: center;
	color: #ffffff;
	display: flex;
	font-family: 14px;
	font-size: 24px;
	font-weight: 300;
	justify-content: center;

}
	

	/* Main */


main {
	background-color: #F7F7F7;
	border: 1px solid #B5B6B6;
	display: flex;
	display: inline-block;
	flex-direction: column;
	float: left;
	min-width: 625px;
	width: 50%;
}

section {
	background-color: #ffffff;
	border: 1px solid #D0D2D3;
	height: 33.3%;
	height: 400px;
	min-width: 300px;
	padding: 10px;
}

aside {
	background-color: #D1D2D4;
	color: white;
	display: flex;
	display: inline-block;
	flex-direction: column;
	float: right;
	height: 650px;
	min-width: 510px;
	width: 50%;
}

article {
	background-color: #ffffff;
	border: 1px solid #B5B6B6;
	color: #404041;
	height: 30%;
	padding-left: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    padding-right: 20px;
}	

input, 
label {
	display: block;
}

 	/* Cards */

form {
	display: inline-block;
}

h3 {
	color: #404041;
	display: block;
}

section.set-range {
	background-color: #ffffff;
	color: #6E6E6E;
	height: 20%;
	margin: 10px;
}

.white-line {
    border-top: 2px solid white;
    bottom: 30px;
    text-align: center;
    width: 70px;
}

.range-form-min,
.range-form-max {
	display: block;
}

.range-container {
	display: inline;
}


.set-range-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.set-range-button {
	background-color: #7f7f7f;
	border-radius: 25px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 600;
	height: 40px;
	margin-left: 10px;
	margin-top: 15px;
	right: 0px;
	width: 150px;
}

.error-text {
	color: #DD1972;
	font-size: 12px;
}

.start-range,
.end-range {
	font-weight: 600;
	text-decoration: underline;
}

section.challengers {
	height: 45%;
	margin: 10px;
}

.player-one,
.player-two {
	display: flex;
	justify-content: space-between;
	width: 80%;
}

input.player-one,
input.player-two {
	height: 30px;
	width: 300px;
}

.input-container {
	margin-right: 20px;
}

.player-one-guess,
.player-two-guess {
	height: 30px;
	width: 250px;
}

.game-buttons {
	display: flex;
	justify-content: space-evenly;
	margin-top: 40px;
}

.guess-button,
.reset-button,
.clear-button {
	background-color: #7f7f7f;
	border-radius: 25px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	height: 35px;
	width: 180px;
}

.latest-score {
	height: 30%;
	margin: 10px;
}

.min-range,
.max-range {
	height: 30px;
	width: 200px;
}
.min-range {
	margin-right: 10px;
}

.guess-container {
	display: flex;
	justify-content: center;
}

.error-border {
	border: 2px solid #DD1972;
}

.p1-current-guess,
.p2-current-guess {
	height: 150px;
	text-align: center;
	width: 200px;
}

.p1-current-guess {
	border-right: 2px solid #D0D2D3;
}

.p1-guess-num,
.p2-guess-num {
	color: #DD1972;
	font-size: 70px;
	font-weight: 700;
	margin: -10px;
}

.player-one-name,
.player-two-name {
	color: #404041;
	font-size: 16px;
	font-weight: 600;
}

.current-guess-text {
	color: #7f7f7f;
	font-weight: 300;
}

.p1-guess-hint,
.p2-guess-hint {
	font-size: 20px;
	font-weight: 300;
	margin: -10px;
}

	/* Results */

.results {
	text-align: center;
}
.winner-banner {
	color: #7f7f7f;
	font-size: 36px;
	font-weight: 300;
}

span.player-one-name,
span.player-two-name {
	font-size: 20px;
}

.vs {
	bottom: 5px;
	font-size: 12px;
	margin-bottom: 20px;
	margin-left: 70px;
	margin-right: 70px;
	position: relative;
}

.winner {
	font-size: 45px;
	margin-bottom: -10px;
}

.challenger-container {
	border-bottom: 2px solid #D0D2D3;
	border-top: 2px solid #D0D2D3;
	height: 120px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.count {
	color: #404041;
	float: left;
	font-size: 15px;
	font-weight: 700;
}

.guess-count {
	color: #404041;
	float: left;
	font-size: 15px;
	font-weight: 300;
}

/* Button Styling */

button:hover,
button:active { 
  background-color: #DD1972;
}

button:disabled,
button[disabled] {
  background-color: #D0D2D3;
}

.win-button {
	background-color: #404041;
	border-radius: 50%;
	color: #D0D2D3;
	float: right;
	font-size: 14px;
	height: 20px;
	margin-top: 5px;
	padding-bottom: 20px;
	width: 22px;
}

.player-one-vs,
.player-two-vs {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;

}

.winner-text {
	margin-bottom: 5px;
	padding-top: 5px;
}

.guess-count {
	padding-top: 5px;
	padding-bottom: 10px;
}

	/* @ Media */

@media screen and (max-width: 1275px) {

main {
	width: 50%;
} 

aside {
float: left;
}


@media screen and (max-width: 650px) {

header {
	min-width: 500px;
}

main{
	min-width: 500px;
}
}

.guess-container {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.p1-current-guess {
	border-bottom: 2px solid #D0D2D3;
	border-right: none;
	width: 70%;
}

.p2-current-guess {
	margin-top: 10px;
	width: 70%;
}

.set-range-form {
	display: flex;
	flex-direction: column;
}

.min-range,
.max-range {
	width: 450px;
}

.player-one,
.player-two {
	flex-direction: column;
	width: 450px;
}

 .game-buttons {
 	bottom-margin: 10px;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	width: 100%;
 }

#p1,
#p2 {
	width: 450px;
}

.player-one-guess,
.player-two-guess {
	margin: 0;
	padding: 0;
	width: 450px;
}

.guess-button,
.reset-button,
.clear-button {
	align-self: center;
	border-radius: 25px;
	font-weight: 600;
	height: 35px;
	margin-top: 10px;
	width: 70%;
}
}