	/* Global*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*border:red 1px solid;*/
  font-family: 'Open Sans', sans-serif;
}

body {
	width: 100%;
	height: 100%;
	background-color: #D0D2D3;
	color: #404041;
	padding: 5px;
}

	/*Header*/
	
header {
	text-align: center;
	background-color: #404041;
	color: #DD1972;
	min-width: 550px;
}

h1 {
	font-size: 40px;
	padding-right: 5px;
	margin-bottom: -10px;
}

.h1-style {
	text-decoration: none;
	font-weight: 300;
}

h2 {
	font-family: 14px;
	font-weight: 300;
	color: #ffffff;
	font-size: 16px;
}
	/* Main */


main {
	width: 50%;
	display: inline-block;
	background-color: #F7F7F7;
	float: left;
	display: flex;
	flex-direction: column;
	border: 1px solid #B5B6B6;
	min-width: 550px;
}

section {
	height: 33.3%;
	background-color: #ffffff;
	border: 1px solid #D0D2D3;
	min-width: 300px;
	padding: 10px;
}

aside {
	width: 50%;
	height: 650px;
	display: inline-block;
	background-color: #D1D2D4;
	color: white;
	float: right;
	display: flex;
	flex-direction: column;
	min-width: 510px;
}

article {
	height: 25%;
	margin: 10px 25px 10px 25px;
	background-color: #ffffff;
	color: #404041;;
	border: 1px solid #B5B6B6;
	padding: 10px;

}	

input, 
label {
	display: block;
}

 	/*Cards*/

form {
	display: inline-block;
}
h3 {
	color: #404041;
	display: block;
}

section.set-range {
	margin: 10px;
	height: 20%;
	background-color: #ffffff;
	color: #6E6E6E;
}

.range-form-min,
.range-form-max {
	display: block;
}

.range-container {
	display: inline;
}


.set-range-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.set-range-button {
	background-color: #7f7f7f;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	height: 40px;
	width: 150px;
	right: 0px;
	border-radius: 25px;
	margin-top: 15px;
	font-weight: 600;
	margin-left: 10px;
}
.error-text {
	font-size: 14px;
	color: #DD1972;
}

.start-range,
.end-range {
	font-weight: 600;
	text-decoration: underline;
}

section.challengers {
	height: 45%;
	margin: 10px;
}

input.player-one,
input.player-two {
	width: 300px;
	height: 30px;
}

form.player-one,
form.player-two {
	margin-right: 10px;
}

input.player-one-guess,
input.player-two-guess {
	width: 150px;
	height: 30px;
}

.game-buttons {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.guess-button,
.reset-button,
.clear-button {
	background-color: #7f7f7f;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	height: 50px;
	width: 200px;
	border-radius: 25px;
	margin-right: 10px;
	font-weight: 600;
}

.latest-score {
	height: 30%;
	margin: 10px;
}

.min-range,
.max-range {
	height: 30px;
	width: 200px;
}
.min-range {
	margin-right: 10px;
}

.guess-container {
	display: flex;
	justify-content: center;
}

.p1-current-guess,
.p2-current-guess {
	height: 150px;
	width: 200px;
	text-align: center;
}

.p1-current-guess {
	border-right: 1px solid;
}

.p1-guess-num,
.p2-guess-num {
	font-size: 70px;
	color: #DD1972;
	font-weight: 700;
	margin: -10px;
}

.player-one-name,
.player-two-name {
	font-weight: 600;
	color: #404041;
	font-size: 16px;
}

.current-guess-text {
	color: #7f7f7f;
	font-weight: 300;
}

.p1-guess-hint,
.p2-guess-hint {
	font-size: 20px;
	font-weight: 300;
	margin: -10px;
}

	/* Results*/

.results {
	text-align: center;
}
.winner-banner {
	font-size: 36px;
	font-weight: 300;
	color: #7f7f7f;
}

span.player-one-name,
span.player-two-name {
	font-size: 20px;
}

.vs {
	font-size: 12px;
}

.winner {
	font-size: 30px;
}

.challenger-container {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 2px solid #B5B6B6;
	border-bottom: 2px solid #B5B6B6;
}

/* Button Styling*/

button:hover,
button:active { 
  background-color: #DD1972;
}

button:disabled,
button[disabled] {
  background-color: #D0D2D3;
}
